.icon {
 width: 40px;
}

.plan {
 padding: 10px;
 display: table;
 margin: 30px auto;
 overflow: auto;
 min-height: 300px;
 border: 1px solid steelblue;
 padding: 30px;
 border-radius: 5px;
 align-content: center;
 text-align: start;
}
.button-wrapper {
 text-align: center;
}

.ori-price {
 text-decoration: line-through;
 font-size: 20px;
}

.discount-price {
 font-size: 35px;
 text-align: center;
}

.btn-subs {
 border: black 2px solid;
}

.plan-text {
 text-align: center;
 font-size: 30px;
}
