.box {
 background-color: #333;
 color: white;
}

.Ylearn {
 font-size: 20px;
}

.details {
 text-indent: 10px;
}

.icon {
 width: 40px;
}

.foot-community-contact {
 padding-top: 10px;
 padding-bottom: 15px;
}

.mx-3 {
 font: white;
}
